/* You can add global styles to this file, and also import other style files */
body{
  background-color: black !important;
}
.back{
  background-image: url("./assets/blacc.jpg");
  background-size: 100vh 100vw;
}

.tab-panel {
    border: 1px solid #14f3ff;
    padding: 10px;
    border-radius: 4px;
  }
  
  .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #14f3ff;
  }
  
  .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #14f3ff;
  }
  
  .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
    color: #14f3ff;
  }
  
  .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  
  .member-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #6be1ff;
    position: relative;
  }
  
  .member-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #90f9ff;
  }
  
  .member-tabset > .nav-tabs > li.active > a > i {
    color: #90f9ff;
  }
  
  .member-tabset > .tab-content {
    margin-top: -3px;
    background-color: #000000;
    border: 0;
    border-top: 1px solid #00f7ff;
    padding: 15px 0;
  }
  