.dropdown-toggle, .dropdown-item {
   cursor:pointer; 
}

img {
   max-height: 50px;;
   border: 2px solid white;
   display: inline;
}
.navbar-brand{
   letter-spacing: 5px;
   font-style: italic;
   font-weight:bolder;

}